{% sw_extends '@Storefront/storefront/page/content/index.html.twig' %}

{% block page_content %}
    <div class="container">
        <h1>Hello {{ greetingName }}</h1>
        {{ dump() }}
    </div>
{% endblock %}
