<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>SwagTraining PageController Configuration</title>
        <title>SwagTraining PageController Configuration</title>
        <title lang="de-DE">SwagTraining PageController Konfiguration</title>
        <input-field>
            <name>greetingName</name>
            <label>Greeting</label>
            <label lang="de-DE">Begrüßung</label>
        </input-field>
    </card>
</config>
